@page "/"

<h1>Welcome to Argus</h1>

<p>
    This is an experiment to try to create something that works with <a href='https://blazor.net'>Blazor</a>. It's a prototype system
    monitoring tool, that has a Blazor front-end SPA that uses SignalR to monitor various nodes.
</p>
<p>
    The client listens to the server for SignalR alerts, and displays them on-screen. The server runs ASP.NET Core and a 
    SignalR hub for the Blazor clients. It has a second hub that listens for updates from the monitored nodes.
</p>

<h2>Usage</h2>

<p>TBC</p>